.gallery-page .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: #ff5900 0px 5px 15px;
  border-radius:100px 10px;
}

.gallery-page .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.gallery-page .swiper-slide img {
  display: block;
  width: 100%;
}

.gallery-page .swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: none;
}
